@model Kuse_App.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<div>
    <p> Tänan sind, @Model.Name</p>

</div>
<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>
            <img src="ˇ~/Images/smile.jpg" />
        </p>
        using (Html.BeginForm("Meeldetuletus", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Phone)
            @Html.HiddenFor(m => m.WillAttend)
            <input type="submit" value="Meeldetuletus" name="Meeldetuletus" />
        }
    }
    else
    {
    @:Väga kurb uudis.Mäeme hiljem!
    <p>
        <img src="ˇ~/Images/sad.jpg" />
    </p>
    }
    <!--@ViewBag.Message--> @*ViewBag.Message -отчет об отправке письма с приглашением *@
</div>

